absl-py==0.7.1
astor==0.8.0
cesium==0.9.9
certifi==2023.7.22
chardet==3.0.4
hmmlearn==0.2.2
gast==0.2.2
google-pasta==0.1.7
graphviz==0.8.4
grpcio==1.53.0
h5py==2.9.0
idna==2.8
joblib>=1.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mxnet==1.9.1
numpy==1.22.0
pandas==0.24.2
patsy==0.5.1
protobuf==3.18.3
python-dateutil==2.8.0
pytz==2019.1
requests==2.31.0
scikit-learn==0.21.2
scipy==1.10.0
six==1.12.0
sklearn==0.0
statsmodels==0.10.0
tensorboard==1.14.0
tensorflow==2.11.1
tensorflow-estimator==1.14.0
termcolor==1.1.0
urllib3==1.26.5
Werkzeug==2.2.3
wrapt==1.11.2
xgboost==0.90
